/*// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 900

.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: gray;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    overflow: hidden;
}
/* the main card container */

.card{
  width: 441px;
  height: 254px;
  margin: 80px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(0, 0, 0);
  border-radius: 30px;
}

.background_stars {
  width:441px;
  height: 254px;

}

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  position: relative; 
  top: 50px;

}





/* Header styles */
header {
  text-align: center;
}

.name-header {
  font-size: 22px; /* Adjust as needed */
  font-weight: bold;
  color: #ffffff;
  margin-top: 90px;
  margin-left: 20px;
}

.title-header {
  font-size: 10px; /* Adjust as needed */
  color: #f3ff11;
  margin-top: 7px; 
  margin-left: 40px
}

/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: #0b8577;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(0, 151, 206);
}

/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  .card{
    width: 390px;
    height: 220px;
  }

  /*.text-wrapper {
    position: relative;
}*/

  

  

.center-image {
  width: 350px;
  height: auto; 
  display: block;
  margin: 0 auto; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
}



.text-wrapper {
    position: relative;
}

.play-on-click {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.play-on-click.playing {
    animation-play-state: running; /* Resume animation */
}

#gifImage {
  margin-left: 15px;


}

  .center-video {
    max-width: 100%; 
   
}


  .card1 {
    
    
     display: flex;
     justify-content: center; /* Horizontally center */
     align-items: center; /* Vertically center */


    background-image: url('assets/stars.png');
    background-size: auto 20%; 
    background-position: center; 

  }


  .card2 {
    background-image: url('assets/moon_bottom_gif.gif');
    background-size: cover; 
    background-position: bottom right 40px;
     
}

.github-logo {
  width: 50px;
  height: auto;
  

  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.linkdn-logo {
  width: 100px;
  height: auto;

  margin-top: 20px;


  margin-left: 163px;

}


.contact-info {
  position: absolute;
  bottom: 50px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-item img {
  width: 20px; /* Adjust size as needed */
  height: auto;
}

.contact-item span {
  font-weight: 500;
  font-size: 8px; /* Adjust size as needed */
  color: #000000; /* Adjust color as needed */
}




}








