/*// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 900

.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: gray;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    overflow: hidden;
}
/* the main card container */

.card{
  width: 441px;
  height: 254px;
  margin: 80px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(0, 0, 0);
  border-radius: 30px;
}

.background_stars {
  width:441px;
  height: 254px;

}


h1{
  margin-bottom: 0px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 45px;
  position: relative; top: 40px;
  color: #27a59c;
  
}

h2{
  margin-bottom: 0px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 45px;
  position: relative; top: 40px;
  color: #27a59c;
} 

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  position: relative; 
  top: 50px;

}
/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: #0b8577;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(0, 151, 206);
}

/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  .card{
    width: 390px;
    height: 220px;
  }

  .text-wrapper {
    position: relative;
}

  

  

.center-image {
  width: 200px;
  height: auto; 
  display: block;
  margin: 0 auto; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
}


.text-wrapper {
    position: relative;
}



  


  .center-video {
    max-width: 100%; 
   
}


  .card1 {
    
    
     display: flex;
     justify-content: center; /* Horizontally center */
     align-items: center; /* Vertically center */


    background-image: url('assets/stars.png');
    background-size: cover; 
    background-position: center; 

  }










